#container-fluid {
    font-family: Arial, Helvetica, sans-serif;
}

.card {
    margin-top: 150px;
}

.btn {
    margin-top: 20px;
}

#timer {
    color: #ffffff;
    background-color: #000000;
    font-weight: bold;
}